*{
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #3c49be;
    color: white;

}
p{
    justify-content: center;
    text-align: center;
}
nav {
    border: 1px solid #00ffaa;
    background-color: #3c49be;;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav li {
    float: left;
    text-decoration: none;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333499;
    border: 0.5px solid rgb(255, 255, 255);
   
}
form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
form > div {
    display: contents;
}
form label {
    margin-bottom: 5px;
}
form input, form select {
    padding: 8px;
    box-sizing: border-box;
}
form button {
    grid-column: span 6;
    padding: 10px 20px;
    justify-self: end;
}
hr{
    height: 10px;
}
footer {
    background-color: #3c49be;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
    position: fixed;
    bottom: 0;
}

footer .school-name {
    flex: 1 1 auto; /* Allow the name to shrink if needed */
}

footer .links {
    flex: 2 1 auto; /* Allow the links to shrink if needed */
    text-align: right;
    display: flex;
    flex-wrap: wrap; /* Allow links to wrap to new lines if needed */
    justify-content: flex-end;
}

footer .links a {
    color: #fff;
    text-decoration: underline;
    margin-left: 20px;
    white-space: nowrap; /* Prevent the links from breaking mid-word */
}

footer .links a:first-child {
    margin-left: 0;
}

footer .links a:hover {
    color: #ffd700;
}
.instruction{
    padding: 10px;
    margin-left: 10%;
}